# 9_Pandas_Exporting_Data (do not run this file)

# Refer to [33] in 8_Pandas_Concat_DataFrames for complete file

In [1]:
# .to_clipboard to copy the object values into the clipboard

df_q1.head().to_clipboard(sep=',') # head() to copy just 5 values for demo

# try to post the copied values into the md below

NameError: name 'df_q1' is not defined

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
0,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,,,,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']","{'analyst_tools': ['power bi', 'tableau'], 'programming': ['r', 'python', 'sql', 'nosql']}",Jan
1,Data Scientist,Data Scientist,"Zaventem, Belgium",via BeBee Belgique,Full-time,False,Belgium,2023-01-31 13:53:38,False,False,Belgium,,,,Devoteam,"['r', 'python', 'sql', 'pandas', 'numpy', 'scikit-learn', 'matplotlib', 'hadoop', 'spark']","{'libraries': ['pandas', 'numpy', 'scikit-learn', 'matplotlib', 'hadoop', 'spark'], 'programming': ['r', 'python', 'sql']}",Jan
2,Data Engineer,Data Engineer,"Fort Worth, TX",via LinkedIn,Full-time,False,"Texas, United States",2023-01-25 13:24:01,False,False,United States,,,,Programmers.io,"['sql', 'python']","{'programming': ['sql', 'python']}",Jan
3,Data Engineer,Data Engineer,"San Mateo, CA",via LinkedIn,Full-time,False,"California, United States",2023-01-28 13:07:30,False,True,United States,,,,Verkada,"['sql', 'python', 'aws', 'looker']","{'analyst_tools': ['looker'], 'cloud': ['aws'], 'programming': ['sql', 'python']}",Jan
4,Data Scientist,Data Scientist,"São Paulo, State of São Paulo, Brazil",via BeBee,Full-time,False,Brazil,2023-01-03 23:02:27,False,False,Brazil,,,,Mars,"['python', 'sql', 'azure']","{'cloud': ['azure'], 'programming': ['python', 'sql']}",Jan

AND BAM

In [ ]:
# to.csv()

df_q1.to_csv('quarter1.csv')

# exports as .csv file and saves in the parent folder

In [ ]:
# we can read the saved .csv file via pd.read_csv()

pd.read_csv('quarter1.csv')

# 'Unnamed:' can be eliminated by doing the following code:

In [ ]:
pd.read_csv('quarter1.csv', index_col=0)

In [ ]:
df.to_excel('quarter1.xlsx') # converts df to excel file in parent folder

# ModuleNotFoundError: No module named 'openpyxl'
# this needs to be installed via terminal: conda install openpyxl (or) conda install -c conda-forge openpyxl 
# above options are memory-intense so use 'pip install openpyxl'

# Refer to [32] in 8_Pandas_Concat_DataFrames for complete module